[submodule "Cursus/Minitalk"]
	path = Cursus/Minitalk
	url = https://github.com/amaitou/Minitalk
[submodule "Cursus/ft_printf"]
	path = Cursus/ft_printf
	url = https://github.com/amaitou/ft_printf
[submodule "Cursus/Libft"]
	path = Cursus/Libft
	url = https://github.com/amaitou/Libft
[submodule "Cursus/get_next_line"]
	path = Cursus/get_next_line
	url = https://github.com/amaitou/get_next_line
[submodule "Cursus/Born2beRoot"]
	path = Cursus/Born2beRoot
	url = https://github.com/amaitou/Born2beRoot
[submodule "Cursus/so_long"]
	path = Cursus/so_long
	url = https://github.com/amaitou/so_long
[submodule "Cursus/push_swap"]
	path = Cursus/push_swap
	url = git@github.com:amaitou/push_swap.git
[submodule "Cursus/Philosophers"]
	path = Cursus/Philosophers
	url = git@github.com:amaitou/Philosophers.git
[submodule "Cursus/Minishell"]
	path = Cursus/Minishell
	url = git@github.com:amaitou/Minishell.git
[submodule "Cursus/NetPractice"]
	path = Cursus/NetPractice
	url = https://github.com/amaitou/NetPractice
[submodule "Cursus/CPP-Modules"]
	path = Cursus/CPP-Modules
	url = https://github.com/amaitou/CPP-Modules
[submodule "Cursus/42Exams"]
	path = Cursus/42Exams
	url = https://github.com/amaitou/42Exams
[submodule "Cursus/Cub3d"]
	path = Cursus/Cub3d
	url = https://github.com/amaitou/Cub3d/
[submodule "Cursus/Inception"]
	path = Cursus/Inception
	url = git@github.com:amaitou/Inception.git
[submodule "Cursus/Webserv"]
	path = Cursus/Webserv
	url = git@github.com:amaitou/Webserv.git
[submodule "Cursus/PongAPI"]
	path = Cursus/PongAPI
	url = git@github.com:amaitou/PongAPI.git
