[submodule "Cursus/Libft"]
	path = Cursus/Libft
	url = https://github.com/amaitou/Libft
[submodule "Cursus/ft_printf"]
	path = Cursus/ft_printf
	url = https://github.com/amaitou/ft_printf
[submodule "Cursus/get_next_line"]
	path = Cursus/get_next_line
	url = https://github.com/amaitou/get_next_line
[submodule "Cursus/Born2beRoot"]
	path = Cursus/Born2beRoot
	url = https://github.com/amaitou/Born2beRoot
[submodule "Cursus/Minitalk"]
	path = Cursus/Minitalk
	url = git@github.com:amaitou/Minitalk.git
